
:root {
    --pupple:rgb(100, 0, 159);
    --white:white;
    --blue: blue;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Lato', sans-serif;

}
.page{
    height: 100vh;
    position: relative;
    width: 100%;
}
.container{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows:20% 50% 30%;
    grid-template-areas: "nav       aside"
                        "section    aside"
                        "footer     asise";

    

}
.navbar{
    grid-area: nav;
    display: flex;
}
.navbar__content {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 0 0 80px;

    animation: 2s navbar 0.5s ease-in-out;
}
@keyframes navbar {
    0% {
        transform: translateY(-200px) ;
    }
    100% {
        transform: translateY(0px);
    }
}
.navbar__content img {
    width: 50px;
}

.navbar__content ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    width: 450px;
}

.navbar__content ul li a{
    color: var(--pupple);
    text-decoration: none;
    font-weight: 700;
} 
.main-content{
    grid-area: section;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;

    animation: 2s navbar 0.5s ease-in-out;
}
.main-content p:first-child {
    font-size: 36px;
    font-weight: 300;
    margin: 0 0 -14px 44px;
}
.main-content h1{
    font-size: 48px;
    font-weight: 700;
    margin: 0 0 28px 0;

}
.main-content p:last-child {
    font-weight: 100;
    margin: 0;
    width: 60%;
}
@keyframes navbar {
    0% {
        transform: translateY(-600px) ;
    }
    100% {
        transform: translateY(0px);
    }
}
.side-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;

    grid-area: aside;

}

.side-content p {
    transform: rotate(-90deg);
    font-size: 40px;
    font-weight: bold;

    grid-row: 1 / 2;
    grid-column: 1 / 2;

    opacity: 0;

    animation-name: side-content-text;
    animation-duration: 0.5s;
    animation-delay: 2.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    z-index: 1;
}
@keyframes side-content-text{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}
.side-content img{
    width: 100%;
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    z-index: 3;

    animation: 2s side-content-img 0.5s ease-in-out;

}
@keyframes side-content-img {
    0% {
        transform: translateX(600px);

    }
    100% {
        transform: translateX(0px);

    }
}
.side-content div{
    background-color: var(--pupple);
    grid-column:  4 / 7;
    grid-row: 1 / 2;
    height: 100%;
   
}
.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;

    background: var(--pupple);
    border-radius: 0 80px 0 0;
    transform: translateY(100%);

    animation-name:footer ;
    animation-duration: 0.5s;
    animation-delay: 2.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

}
@keyframes footer{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0px);
    }
}



.loader {
    background: pink;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;

    animation: loader 0s linear forwards;


    
}

@keyframes loader {
    0% {
        opacity: 1;
        visibility: visible;
    }
    95% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
.loader div {
    background: lightsteelblue;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
    transform: scale(0);

    animation: scaling 3s ease-in-out infinite;

}
@keyframes scaling{
    0%, 100%{
    transform: scale(0.2);
    }
    40% {
        transform: scale(1);
    }
    50% {
        transform: scale(1);
    }
}
.loader div:nth-child(1){
    animation-delay: 0.2s;
}
.loader div:nth-child(2){
    animation-delay: 0.4s;
}
.loader div:nth-child(3){
    animation-delay: 0.6s;
}